:root {
    --pink: #d91e63;
    --magenta: #a6216a;
    --yellow: #f2b33d;
    --orange: #d96f32;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--pink);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    font-size: 48px;
    display: inline-block;
  }

  .header {
    padding: 30px;
    background-color: var(--magenta);
    color: var(--orange);
    font-weight:bolder;
  }

  nav {
    float: right;
  }

  nav a {
    margin-right: 20px;
    color: var(--orange);
    font-size: 30px;
    cursor: grab;
  }

  main {
    padding:10px;
  }

  p {
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }

  .picture {
    display: block;
    width: 65%;
    border-left: 6px solid var(--magenta);
    border-right: 6px solid var(--magenta);
  }
  
  #website1 {
     border-top: 6px solid var(--magenta);
     height: 500px;
     margin-top: 20px;
     cursor: grab;
  }

  #website2 {
    border-bottom: 6px solid var(--magenta);
    height: 500px;
    cursor: grab;
  }

  #snapchat {
    float: right;
    height: 1000px;
    border: 6px solid var(--magenta);
    width: 35%;
  }

  section {
    width: 100%;
    background-color: var(--yellow);
    border: 6px solid var(--magenta);
    padding: 10px;
    margin-top: 20px;
    color: var(--orange);
    font-weight: bold;
  }

  h2 {
    font-size: 36px;
    padding: 5px;
    text-align: center;
  }

  footer {
    background-color: var(--magenta);
    padding: 40px;
    color: var(--orange);
    margin-top: 10px;
  }

  .footer {
    text-align: center;
    font-size: 30px;
  }

  h3 {
    font-size: 48px;
    display: inline-block;
  }

  @media screen and (max-width: 992px) {
    .picture {
      width: 100%;
    }
  }