:root {
    --pink: #d91e63;
    --magenta: #a6216a;
    --yellow: #f2b33d;
    --orange: #d96f32;
  }

  body {
    background-image: url("sonder-quest-VE9pIb8QNQ4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 250vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--pink);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/*Header*/

  h1 {
    font-size: 48px;
    display: inline-block;
  }

  .header {
    padding: 30px;
    background-color: var(--magenta);
    color: var(--orange);
    font-weight:bolder;
  }

  nav {
    float: right;
  }

  nav a {
    margin-right: 20px;
    color: var(--orange);
    font-size: 30px;
    cursor: grab;
  }

  /*Main*/

  main {
    padding:30px;
  }

  p {
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }

  .picture {
    display: block;
    width: 65%;
    border-left: 6px solid var(--magenta);
    border-right: 6px solid var(--magenta);
  }
  
  #website1 {
     border-top: 6px solid var(--magenta);
     border-top-left-radius: 8px;
     height: 500px;
     cursor: grab;
     margin-top: 20px;
  }

  #website2 {
    border-bottom: 6px solid var(--magenta);
    height: 500px;
    cursor: grab;
    border-bottom-left-radius: 8px;
  }

  #snapchat {
    float: right;
    height: 1000px;
    border: 6px solid var(--magenta);
    width: 35%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #snapchat2 {
    display: none;
    border-radius: 8px;
  }

  #project1 {
    border: 6px solid var(--magenta);
    border-radius: 8px;
    cursor: grab;
    width: 100%;
    margin-top: 20px;
  }
  
  section {
    width: 100%;
    background-color: var(--yellow);
    border: 6px solid var(--magenta);
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    color: var(--orange);
    font-weight: bold;
  }

  h2 {
    font-size: 36px;
    padding: 5px;
    text-align: center;
  }

/*Footer*/

  footer {
    background-color: var(--magenta);
    padding: 40px;
    color: var(--orange);
    margin-top: 10px;
  }

  .footer {
    text-align: center;
    font-size: 30px;
  }

  h3 {
    font-size: 48px;
    display: inline-block;
  }

  @media screen and (max-width: 992px) {
    body {
        background-image: url("fengyou-wan-CC9n5qFiE7s-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 100vw 320vh;
        background-color: #aecae6;
    }
    .header {
        background-color: #aeb9e6;
        color: #addbe5;
    }
    nav a {
        color: #addbe5;
    }
    section {
      background-color: #aeb9e6;
      border: 6px solid #addbe5;
      color: #aee6cb;
    }
    .picture {
        width: 100%;
        border-left: 6px solid #addbe5;
        border-right: 6px solid #addbe5;
    }
    #snapchat {
        width: 100%;
        border: 6px solid #addbe5;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #snapchat2 {
      display: none;
    }
    #project1 {
      border: 6px solid #addbe5;
    }
    #website1 {
        border-top: 6px solid #addbe5;
        border-top-right-radius: 8px;
    }
    #website2 {
        border-bottom: 6px solid #addbe5;
        border-bottom-right-radius: 8px;
    }
    footer {
        background-color: #aeb9e6;
        color: #addbe5;
    }
  }
    @media screen and (max-width: 768px) {
    body {
        background-image: url("jon-r8AFUpRp0J0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 100vw 300vh;
        background-color: #c39be6;
    }
    .header {
        background-color:#a290e8;
        color: #e69acb;
    }
    nav a {
        color: #e69acb;
    }
    section {
      background-color: #9aa3e6;
      border: 6px solid #a290e8;
      color: #6e80e0;
    }
    .picture {
        border-left: 6px solid #a290e8;
        border-right: 6px solid #a290e8;
        width: 100%;
    }
    #website1 {
        border-top: 6px solid #a290e8;
    }
    #website2 {
        border-bottom: 6px solid #a290e8;
    }
    #project1 {
      border: 6px solid #a290e8;
    }
    #snapchat {
      display:none;
    }
    #snapchat2 {
      width: 100%;
      border: 6px solid #a290e8;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    footer {
        background-color: #a290e8;
        color: #e69acb;
    }
  }